.cover  {
  background-image: url("cover.jpg");
  background-size: cover;
  }
  
.head-div {
  margin-top: 40px;
  margin-left:100px;
  
}

.move {
  margin-top: 40px;
}


.content-div {
  background-color: rgba(255, 255, 255, 0.8); 
  width: 90%;
  height: 800px;
  margin-top: 120px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom: 150px;
  position: relative;
  
}


.float-child1 {
  float: left;
  width: 25%;
  padding: 50px;
  border: 3px solid black;
  margin-top: 120px;
  margin-left:150px;
  margin-right:0px;
  text-align: justify;
  
}

.float-child2 {
  float: right;
  width: 25%;
  padding: 50px;
  border: 3px solid black;
  margin-top: 120px;
  margin-left:0px;
  margin-right:150px;
  text-align: justify;
}

#chart-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button1{
  background-color: rgba(255, 255, 255, 0.0);
  border-color: rgba(255, 255, 255, 0.0);
  width: 70vw;
  height: 70vh;
  z-index: 1;
  
}

.container-left{
  float: left;
  padding: 0px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container-right{
  float: right;
  padding: 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button2{
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.0);
  border-color: rgba(255, 255, 255, 0.0);
  height: 10vh;
  width: 3vw;
  z-index: 1;
  
}

.button3{
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.0);
  border-color: rgba(255, 255, 255, 0.0);
  height: 10vh;
  width: 3vw;
  z-index: 1;
  
}

#arrowAnim {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 2vw;
  height: 2vw;
  border: 2vw solid;
  border-color: white transparent transparent white;
  transform: rotate(135deg);
}

.arrow2 {
  width: 2vw;
  height: 2vw;
  border: 2vw solid;
  border-color: white transparent transparent white;
  transform: rotate(-45deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(15vw); }  
   20% { opacity:1; transform: translateX(9vw); } 
   80% { opacity:1; transform: translateX(-9vw); }  
  100% { opacity:0; transform: translateX(-15vw); } 
}
@keyframes slide {
    0% { opacity:0; transform: translateX(15vw); }  
   20% { opacity:1; transform: translateX(9vw); } 
   80% { opacity:1; transform: translateX(-9vw); }  
  100% { opacity:0; transform: translateX(-15vw); } 
}





